*{
	margin: 0;
	padding: 0; 
}
a{
    text-decoration: none;
    color: white;
}

img{
    max-width: 100%;
    height: 55px;
    width: 250px;
}

header{
    background-color:#917f44;
    color: white;
}

body{
	font-size: 14px;
	background: #fff;
	color: #333;
	font-family: 'Roboto', sans-serif;
}

.container{
	width: 1000px;
	margin: 0 auto;
}

.logo{
	float: left;
	width: 50%;
}

.account{
    float: left;
    width: 50%;
    text-align: right;
}

.first-header{
    padding: 15px 0px;
}